################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tillo-Technical-Test/Data_Layer/Models/TransactionStatus.cs
